@charset "UTF-8";
@font-face {
  font-family: 'Gabriola';
  src: url("../fonts/gabriola.ttf"); }

/*Estilos Header comunes para todas las páginas*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'arial';
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }

.cabecera {
  width: 100%;
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./../img/comun/header-background.png");
  background-size: 100% 600px;
  background-repeat: no-repeat; }

.logo {
  width: 190px;
  display: block; }
  .logo__imagen {
    width: 100%; }

.botton-menu {
  width: 32px;
  height: 32px;
  margin: .5em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .botton-menu__logo {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #10B3A0;
    position: relative;
    border-radius: 2px;
    -webkit-transition: background-color linear .0s .2s;
    transition: background-color linear .0s .2s; }
    .botton-menu__logo::before, .botton-menu__logo::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: #10B3A0;
      position: absolute;
      border-radius: 2px;
      -webkit-transition: top linear .2s .2s, -webkit-transform linear .2s 0s;
      transition: top linear .2s .2s, -webkit-transform linear .2s 0s;
      transition: top linear .2s .2s, transform linear .2s 0s;
      transition: top linear .2s .2s, transform linear .2s 0s, -webkit-transform linear .2s 0s; }
    .botton-menu__logo::before {
      top: -10px; }
    .botton-menu__logo::after {
      top: 10px; }
    .botton-menu__logo--cerrar {
      background-color: rgba(255, 255, 255, 0);
      -webkit-transition: background-color linear .0s .2s;
      transition: background-color linear .0s .2s; }
      .botton-menu__logo--cerrar::before, .botton-menu__logo--cerrar::after {
        -webkit-transition: top linear .2s 0s, -webkit-transform linear .2s .2s;
        transition: top linear .2s 0s, -webkit-transform linear .2s .2s;
        transition: top linear .2s 0s, transform linear .2s .2s;
        transition: top linear .2s 0s, transform linear .2s .2s, -webkit-transform linear .2s .2s; }
      .botton-menu__logo--cerrar::before {
        top: 0px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .botton-menu__logo--cerrar::after {
        top: 0px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }

#nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.navegacion-principal {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  height: 0;
  -webkit-transition: height linear .4s;
  transition: height linear .4s; }
  .navegacion-principal ul {
    list-style: none;
    margin: 0; }
  .navegacion-principal__uno {
    padding-left: 0; }
  .navegacion-principal__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navegacion-principal__link {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    padding: 0.25em;
    text-decoration: none;
    color: #10B3A0;
    position: relative; }
    .navegacion-principal__link img {
      width: 25px;
      position: absolute;
      left: -25px; }
    .navegacion-principal__link--activa {
      font-weight: bold; }
    .navegacion-principal__link:hover {
      text-decoration: underline; }
  .navegacion-principal__nosotros {
    position: relative;
    cursor: pointer; }
    .navegacion-principal__nosotros::after {
      content: '';
      display: block;
      border-top: 10px solid #10B3A0;
      border-right: 10px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      right: -20px;
      -webkit-transition: -webkit-transform linear .4s;
      transition: -webkit-transform linear .4s;
      transition: transform linear .4s;
      transition: transform linear .4s, -webkit-transform linear .4s; }
    .navegacion-principal__nosotros--giro::after {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  .navegacion-principal__dos {
    padding-left: 0;
    overflow: hidden;
    height: 0;
    width: 100%;
    -webkit-transition: height linear .4s;
    transition: height linear .4s;
    background-color: rgba(16, 179, 160, 0.1); }
    .navegacion-principal__dos--extendida {
      height: 165px; }
  .navegacion-principal--extendida {
    height: 174px; }
  .navegacion-principal--extendida2 {
    height: 346px; }

/*Estilos Header*/
/*Estilos Footer*/
.pie__fondo {
  width: 100%;
  height: 5em;
  background-image: url("./../img/comun/footer-background.png");
  background-size: 100% 250px;
  background-repeat: no-repeat; }

.pie__arriba {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 24px;
  position: fixed;
  bottom: 4em;
  right: -5em;
  cursor: pointer;
  -webkit-transition: background-color linear .4s, right linear .4s, -webkit-box-shadow linear .4s;
  transition: background-color linear .4s, right linear .4s, -webkit-box-shadow linear .4s;
  transition: background-color linear .4s, right linear .4s, box-shadow linear .4s;
  transition: background-color linear .4s, right linear .4s, box-shadow linear .4s, -webkit-box-shadow linear .4s; }
  @media (hover: hover) {
    .pie__arriba:hover {
      background-color: #7ce4c5;
      -webkit-box-shadow: -2px 0 6px rgba(0, 0, 0, 0.5);
              box-shadow: -2px 0 6px rgba(0, 0, 0, 0.5); } }
  .pie__arriba:active {
    background-color: #7ce4c5;
    -webkit-transform: rotate(-90deg) translateX(-3px);
            transform: rotate(-90deg) translateX(-3px); }

.pie__logos {
  background-color: #7ce4c5;
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.pie__privacidad {
  color: #fff;
  text-decoration: none; }
  .pie__privacidad:hover {
    text-decoration: underline; }

/*Estilos Footer*/
/*Estilos comunes*/
.division {
  width: 90%;
  max-width: 600px;
  margin: 3em auto;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .division__amarilla {
    width: calc(100% - 50px);
    height: 10px;
    border-radius: 6px;
    background-color: #EEC366; }
  .division__azul {
    width: 100%;
    height: 1px;
    background-color: #10B3A0; }

/*Estilos comunes*/
/*Estilos Home*/
.home.contenedor {
  position: relative;
  width: 100%;
  height: calc(100vh - 189px);
  max-height: calc(100vh - 189px); }
  .home.contenedor .slider-productos {
    max-width: 100%;
    height: 100%;
    max-height: 100%; }
    .home.contenedor .slider-productos__imagen {
      background-size: cover;
      background-position: center;
      height: 100%; }
      .home.contenedor .slider-productos__imagen:nth-child(1) {
        background-image: url("./../img/home/blog-mobile.jpg"); }
      .home.contenedor .slider-productos__imagen:nth-child(2) {
        background-image: url("./../img/home/producto-mobile.jpg"); }
      .home.contenedor .slider-productos__imagen:nth-child(3) {
        background-image: url("./../img/home/bienvenido-mobile.jpg"); }
      .home.contenedor .slider-productos__imagen img {
        height: 100%; }

.slider,
.slider__imagenes,
.slider__imagen {
  width: 100%;
  height: 100%; }

.slider {
  position: relative; }
  .slider__imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
  .slider__imagen {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: absolute;
    -webkit-transition: left linear .4s;
    transition: left linear .4s; }
  .slider__siguiente {
    height: 48px;
    width: 48px;
    background-color: rgba(158, 248, 238, 0.4);
    position: absolute;
    top: calc(50% - 24px);
    z-index: 30;
    border-radius: 50%;
    right: 32px;
    cursor: pointer;
    -webkit-transition: background-color linear .4s;
    transition: background-color linear .4s; }
    .slider__siguiente:hover {
      background-color: #7ce4c5; }
  .slider__flecha {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .slider__flecha::before, .slider__flecha::after {
      content: '';
      position: absolute;
      display: block;
      width: 24px;
      height: 4px;
      border-radius: 2px;
      background-color: #10B3A0;
      -webkit-transform-origin: right center;
              transform-origin: right center; }
    .slider__flecha::before {
      -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
      top: calc(50% - 1px); }
    .slider__flecha::after {
      -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg);
      top: calc(50% - 2px); }

/*Estilos Home*/
/*Estilos página filosofía*/
.filosofia {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.contenido-vision {
  width: 100%; }

.title {
  font-family: 'Gabriola';
  color: #10B3A0;
  font-size: 3.5em;
  text-align: center;
  font-weight: 100;
  margin: .5rem 0;
  line-height: 1em; }

.subtitle {
  color: #10B3A0;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0; }

.hoja-flotando {
  display: none; }

.texto {
  font-size: 1rem;
  color: #3c3c3c;
  padding: 0 2rem; }

.centrado {
  font-size: 1rem;
  text-align: center; }

.bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 8px;
  margin-right: .5em;
  background-color: #EEC366; }

.valores {
  width: 100%;
  max-width: 1200px; }
  .valores__valor {
    width: 100%; }
  .valores__titulo {
    font-family: 'Gabriola';
    font-weight: 100;
    font-size: 2.5em;
    color: #10B3A0;
    text-align: center;
    margin-bottom: 0;
    line-height: 1em; }
  .valores__imagen {
    display: block;
    margin: auto; }

.limon-flotando {
  display: none; }

/*Estilos página filosofía*/
/*Estilos página Historia*/
.historia {
  width: 100%;
  max-width: 1200px;
  margin: auto; }
  .historia .texto {
    text-align: center;
    font-size: 1.2em; }
  .historia .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding: 0 1em 0 .5em;
    margin: auto;
    min-height: 705px; }

.linea-tiempo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .linea-tiempo__linea {
    display: block;
    width: 4px;
    height: 1180px;
    background-color: #EEC366;
    margin: 0 2rem; }
  .linea-tiempo__punto {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #EEC366; }
    .linea-tiempo__punto--azul, .linea-tiempo__punto--amarillo {
      width: 6px;
      height: 6px;
      margin: .3em .5em 0 .5em; }
    .linea-tiempo__punto--amarillo {
      -webkit-box-shadow: 0 0 5px #EEC366;
              box-shadow: 0 0 5px #EEC366; }
    .linea-tiempo__punto--azul {
      background-color: #10B3A0;
      -webkit-box-shadow: 0 0 5px #10B3A0;
              box-shadow: 0 0 5px #10B3A0; }
  .linea-tiempo__hoja {
    position: absolute; }
  .linea-tiempo__hoja:nth-child(odd) {
    left: 0; }
  .linea-tiempo__hoja:nth-child(even) {
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .linea-tiempo__hoja:nth-child(4) {
    top: 45px; }
  .linea-tiempo__hoja:nth-child(5) {
    top: 235px; }
  .linea-tiempo__hoja:nth-child(6) {
    top: 485px; }
  .linea-tiempo__hoja:nth-child(7) {
    top: 590px; }
  .linea-tiempo__hoja:nth-child(8) {
    top: 825px; }
  .linea-tiempo__hoja:nth-child(9) {
    top: 1000px; }
  .linea-tiempo__textos {
    position: relative;
    width: 100%;
    max-width: 340px; }
  .linea-tiempo__hito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 340px;
    position: absolute; }
  .linea-tiempo__hito:nth-child(1) {
    top: 40px; }
  .linea-tiempo__hito:nth-child(2) {
    top: 250px; }
  .linea-tiempo__hito:nth-child(3) {
    top: 480px; }
  .linea-tiempo__hito:nth-child(4) {
    top: 605px; }
  .linea-tiempo__hito:nth-child(5) {
    top: 820px; }
  .linea-tiempo__hito:nth-child(6) {
    top: 1015px; }
  .linea-tiempo__texto {
    width: 90%;
    margin: 0; }

/*Estilos página Historia*/
/*Estilos página Modelo de Negocio*/
.modelo {
  max-width: 1200px;
  margin: auto; }
  .modelo .texto {
    text-align: center; }
  .modelo__contenedor--largo {
    display: none; }
  .modelo__titulo {
    background-image: url("./../img/modelo-negocio/para-ti-titulo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 230px;
    min-width: 220px;
    margin: 0 auto 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Gabriola';
    font-size: 3em;
    font-weight: 100;
    color: #7F8080;
    line-height: 1.5;
    position: relative; }
    .modelo__titulo--mejor {
      background-image: url("./../img/modelo-negocio/lo-mejor-titulo.png"); }
    .modelo__titulo--siempre {
      background-image: url("./../img/modelo-negocio/siempre-titulo.png"); }
  .modelo__contenido {
    background-color: #77D4C9;
    margin: auto;
    width: 90%;
    max-width: 300px;
    border-radius: 35px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em;
    position: relative; }
    .modelo__contenido--titulo {
      margin-bottom: 0;
      margin-top: 8px; }
    .modelo__contenido--texto {
      margin-top: 0;
      margin-bottom: 8px; }
  .modelo__imagen {
    position: absolute; }
    .modelo__imagen--1 {
      top: -12px;
      left: -5px; }
    .modelo__imagen--2 {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      right: -30px; }
    .modelo__imagen--3 {
      top: -25px;
      left: 0;
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg); }
    .modelo__imagen--4 {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      right: -30px; }

.circulo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FCE2DB;
  margin: 1em auto; }

/*Estilos página Modelo de Negocio*/
/*Estilos página Responsabilidad Social Empresarial*/
.responsabilidad .title {
  font-size: 3.2em;
  margin: .7em 0 0; }

.responsabilidad__contenedor {
  padding: 0 .5rem;
  max-width: 1200px;
  margin: auto; }

.responsabilidad__acordeon {
  cursor: pointer; }
  .responsabilidad__acordeon:hover > h3 {
    text-decoration: underline; }

.responsabilidad__subtitulo {
  width: 100%;
  background-color: #7CE4C5;
  margin: 0 auto;
  padding: .5em 0;
  text-align: center;
  color: #fff; }

.responsabilidad__contenedor-flecha {
  width: 100%;
  height: 2em;
  border: 1px solid #7CE4C5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.responsabilidad__flecha {
  border-top: 10px solid #10B3A0;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  -webkit-transition: -webkit-transform linear .4s;
  transition: -webkit-transform linear .4s;
  transition: transform linear .4s;
  transition: transform linear .4s, -webkit-transform linear .4s; }
  .responsabilidad__flecha--giro {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.responsabilidad__contenido {
  height: 0;
  overflow: hidden; }
  .responsabilidad__contenido--extendido {
    height: auto; }
  .responsabilidad__contenido h3 {
    font-family: 'Gabriola';
    color: #10B3A0;
    font-size: 2em;
    font-weight: 1;
    line-height: 1;
    text-align: center; }
  .responsabilidad__contenido .centrado {
    text-align: center; }
  .responsabilidad__contenido p {
    text-align: justify;
    line-height: 1.5; }
  .responsabilidad__contenido li {
    line-height: 1.5; }

.imagenes-ninos {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em; }
  .imagenes-ninos img {
    width: 100%;
    max-width: 400px;
    margin: 0.5em; }

.imagenes-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .imagenes-logos img {
    margin: 1em; }
  .imagenes-logos .iteso {
    width: 100px; }
  .imagenes-logos .insp {
    width: 300px; }
  .imagenes-logos .udg {
    width: 130px; }
  .imagenes-logos .tresmontes {
    width: 200px; }
  .imagenes-logos .ajanut {
    width: 150px; }

.verde {
  padding: 1em;
  background-color: #93D9B7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .verde p {
    margin-top: 0; }
  .verde img {
    width: 100%;
    max-width: 300px; }

.practicas,
.logros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.practicas {
  margin-bottom: 4em; }
  .practicas p {
    max-width: 620px;
    text-align: center; }

.actores {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: auto; }

.ninos {
  max-width: 400px; }

.plato {
  width: 100%; }

.mediaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .mediaciones__mediacion {
    width: 100%;
    height: 359px;
    max-width: 400px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .mediaciones__mediacion img {
      margin: 0; }
    .mediaciones__mediacion--scale {
      background-color: #F6BC36; }
    .mediaciones__mediacion--check {
      background-color: #E8573C; }
    .mediaciones__mediacion--heart {
      background-color: #74C6B0; }
    .mediaciones__mediacion--diet {
      background-color: #3C5269; }
  .mediaciones__titulo {
    color: #fff;
    margin: 0;
    text-align: center; }
  .mediaciones__item {
    color: #fff; }

.cita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

/*Estilos página Responsabilidad Social Empresarial*/
/*Estilos página Productos*/
.productos {
  min-height: calc(100vh - 189px - 152px); }

.slider-productos {
  width: 100%;
  max-width: 800px;
  height: calc(100vw * .7);
  max-height: 600px;
  margin: auto;
  position: relative;
  cursor: pointer; }
  .slider-productos .b {
    -webkit-transition: background-color linear .4s;
    transition: background-color linear .4s; }
  @media (hover: hover) {
    .slider-productos:hover .b {
      background-color: rgba(16, 179, 160, 0.2); } }
  .slider-productos:active .b {
    background-color: rgba(16, 179, 160, 0.8); }
  .slider-productos__imagenes {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%; }
  .slider-productos__imagen {
    position: absolute;
    background-color: #fff;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity linear .4s, -webkit-transform linear .4s;
    transition: opacity linear .4s, -webkit-transform linear .4s;
    transition: opacity linear .4s, transform linear .4s;
    transition: opacity linear .4s, transform linear .4s, -webkit-transform linear .4s; }
    .slider-productos__imagen img {
      width: 100%; }
    .slider-productos__imagen--transparente {
      opacity: 0;
      -webkit-transform: scale(0.8);
              transform: scale(0.8); }
  .slider-productos__anterior, .slider-productos__siguiente {
    position: absolute;
    top: 0;
    width: 2em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10; }
  .slider-productos__anterior {
    left: 0; }
  .slider-productos__siguiente {
    right: 0; }

/*Estilos página Productos*/
/*Estilos página producto individual*/
.producto {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em; }
  .producto__descripcion {
    font-family: 'Gabriola';
    font-weight: 100;
    font-size: 2.5em;
    line-height: 1;
    text-align: center; }
    .producto__descripcion--rojo {
      color: #AC1B2E; }
  .producto__imagenes {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .producto__imagenes img {
      width: 100%;
      max-width: 600px; }
  .producto .centrado {
    text-align: center;
    font-size: 1.3em; }
    .producto .centrado--verde {
      color: #74C6B0; }
  .producto__datos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .producto__dato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 200px; }
  .producto h3.title {
    position: relative;
    font-size: 3em;
    max-width: 240px;
    margin: auto; }
    .producto h3.title img {
      position: absolute;
      -webkit-transform: rotate(100deg);
              transform: rotate(100deg);
      right: -25px;
      top: -10px; }

.prueba-tambien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .prueba-tambien__link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-text-decoration-color linear .4s;
    transition: -webkit-text-decoration-color linear .4s;
    transition: text-decoration-color linear .4s;
    transition: text-decoration-color linear .4s, -webkit-text-decoration-color linear .4s;
    text-decoration: none; }
    .prueba-tambien__link:hover > img {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
  .prueba-tambien__titulo {
    color: #10B3A0;
    font-family: 'Gabriola';
    font-weight: 100;
    font-size: 2em;
    line-height: 1;
    margin: 1rem 0; }
  .prueba-tambien__imagen {
    width: 100%;
    -webkit-transition: -webkit-transform linear .4s;
    transition: -webkit-transform linear .4s;
    transition: transform linear .4s;
    transition: transform linear .4s, -webkit-transform linear .4s; }

/*Estilos página producto individual*/
/*Estilos Página Blog*/
.blog .title {
  position: relative;
  width: 130px;
  margin: auto; }
  .blog .title img {
    position: absolute;
    -webkit-transform: rotate(100deg) scale(1.5);
            transform: rotate(100deg) scale(1.5);
    right: -15px;
    bottom: 25px; }

.blog__menu, .blog__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .blog__menu p, .blog__item p {
    color: #10B3A0;
    font-weight: 900; }

.blog__menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.blog__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  height: 370px; }
  .blog__item p {
    position: absolute;
    top: 0;
    z-index: 2;
    -webkit-transition: top linear .4s;
    transition: top linear .4s; }
  @media (hover: hover) {
    .blog__item:hover > p {
      top: 100px; }
    .blog__item:hover > .blog__icono {
      bottom: 150px; }
    .blog__item:hover > .blog__imagen {
      opacity: .2; } }
  .blog__item--activo .blog__icono {
    -webkit-filter: hue-rotate(230deg);
            filter: hue-rotate(230deg); }

.blog__imagen {
  position: absolute;
  width: 80%;
  border-radius: 50%;
  margin-bottom: 1em;
  position: absolute;
  top: 50px;
  -webkit-transition: opacity linear .2s;
  transition: opacity linear .2s; }

.blog__icono {
  -webkit-transition: bottom linear .4s;
  transition: bottom linear .4s;
  position: absolute;
  bottom: 0; }

.blog__division {
  height: 3px;
  border-radius: 2px;
  background-color: #D3954D;
  width: 90%;
  margin: 1.5em auto;
  position: relative; }

.blog .subtitulo {
  font-size: 3rem;
  font-family: 'Gabriola';
  color: #10B3A0;
  font-weight: 100;
  text-align: center;
  margin: 0;
  width: 100%; }

.blog__seccion {
  max-width: 1200px;
  margin: auto;
  height: auto;
  opacity: 1;
  overflow: hidden; }
  .blog__seccion--oculta {
    height: 0;
    opacity: 0; }

.blog__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.card {
  width: 90%;
  max-width: 360px;
  margin: .5em;
  border-radius: 10px;
  background-color: rgba(16, 179, 160, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: -webkit-transform linear .2s, -webkit-box-shadow linear .2s;
  transition: -webkit-transform linear .2s, -webkit-box-shadow linear .2s;
  transition: transform linear .2s, box-shadow linear .2s;
  transition: transform linear .2s, box-shadow linear .2s, -webkit-transform linear .2s, -webkit-box-shadow linear .2s; }
  @media (hover: hover) {
    .card:hover {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }
    .card:hover > h4 {
      text-decoration: underline; } }
  .card__imagen {
    width: 100%; }
  .card__titulo {
    margin: .5em 0 1em 0;
    padding: 0 .5em;
    color: #10B3A0;
    text-align: center;
    font-size: 18px; }
  .card__descripcion {
    margin: 0 0 .5em 0;
    padding: 0 .5em;
    height: 56px;
    overflow: hidden;
    color: #7F8080; }

/*Estilos Página Blog*/
/*Estilos Página Blog interior*/
.blog-interior {
  margin-top: 2em;
  border-top: 5px solid #008F7F; }
  .blog-interior .title {
    margin: 0; }
  .blog-interior__portada {
    position: relative;
    width: 100%; }
    .blog-interior__portada img {
      width: 100%; }
    .blog-interior__portada img:nth-child(1) {
      top: 0; }
    .blog-interior__portada img:nth-child(2) {
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: 0; }
  .blog-interior__contenido {
    width: 90%;
    max-width: 640px;
    margin: auto; }
    .blog-interior__contenido p {
      color: #3d3d3d;
      font-size: 18px;
      line-height: 1.3; }
    .blog-interior__contenido img {
      width: 100%; }
  .blog-interior .libros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .blog-interior .libros img {
      width: 100%;
      max-width: 200px; }

.compartir {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5; }

/*Estilos Página Blog interior*/
/*Estilos Página Aviso de privacidad*/
.privacidad p {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  color: #3d3d3d;
  font-size: 18px;
  line-height: 1.3; }

/*Estilos Página Aviso de privacidad*/
/*Estilos Página Contacto*/
.formulario {
  width: 90%;
  max-width: 720px;
  margin: auto; }
  .formulario fieldset {
    border-color: #008F7F;
    border-style: solid;
    border-radius: 10px;
    padding: 0 12px 12px 12px; }
  .formulario legend {
    color: #008F7F; }
  .formulario label {
    color: #7c7c7c;
    display: block;
    margin-top: 0.5em; }
  .formulario .obligatorio {
    position: relative; }
    .formulario .obligatorio::before {
      content: '*';
      color: red;
      position: absolute;
      left: -0.5em; }
  .formulario .aviso {
    color: #008F7F;
    text-decoration: none; }
    .formulario .aviso:hover {
      text-decoration: underline; }
  .formulario input[type="text"],
  .formulario input[type="tel"],
  .formulario input[type="email"],
  .formulario select,
  .formulario textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #008F7F;
    background-color: rgba(0, 143, 126, 0.1);
    -webkit-transition: background-color linear .4s;
    transition: background-color linear .4s;
    resize: none; }
    .formulario input[type="text"]:hover,
    .formulario input[type="tel"]:hover,
    .formulario input[type="email"]:hover,
    .formulario select:hover,
    .formulario textarea:hover {
      background-color: rgba(0, 143, 126, 0.3); }
  .formulario input[type="text"]:focus,
  .formulario input[type="tel"]:focus,
  .formulario input[type="email"]:focus,
  .formulario textarea:focus {
    background-color: rgba(211, 148, 77, 0.4); }
  .formulario input[type="submit"] {
    display: block;
    margin: 1em auto;
    padding: .5em 3em;
    background-color: #008F7F;
    color: #fff;
    border: none;
    font-size: 1.3em;
    font-weight: 900;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 0 black;
            box-shadow: 5px 5px 0 black;
    -webkit-transition: -webkit-transform linear .2s, -webkit-box-shadow linear .2s;
    transition: -webkit-transform linear .2s, -webkit-box-shadow linear .2s;
    transition: transform linear .2s, box-shadow linear .2s;
    transition: transform linear .2s, box-shadow linear .2s, -webkit-transform linear .2s, -webkit-box-shadow linear .2s; }
    @media (hover: hover) {
      .formulario input[type="submit"]:hover {
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
        -webkit-box-shadow: 2px 2px 0 black;
                box-shadow: 2px 2px 0 black; } }
    .formulario input[type="submit"]:active {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
      -webkit-box-shadow: 2px 2px 0 black;
              box-shadow: 2px 2px 0 black; }

/*Estilos Página Contacto*/
/*Responsive*/
@media screen and (min-width: 320px) {
  .linea-tiempo__linea {
    height: 1120px; }
  .linea-tiempo__hoja:nth-child(4) {
    top: 45px; }
  .linea-tiempo__hoja:nth-child(5) {
    top: 220px; }
  .linea-tiempo__hoja:nth-child(6) {
    top: 455px; }
  .linea-tiempo__hoja:nth-child(7) {
    top: 560px; }
  .linea-tiempo__hoja:nth-child(8) {
    top: 775px; }
  .linea-tiempo__hoja:nth-child(9) {
    top: 950px; }
  .linea-tiempo__hito:nth-child(1) {
    top: 40px; }
  .linea-tiempo__hito:nth-child(2) {
    top: 235px; }
  .linea-tiempo__hito:nth-child(3) {
    top: 450px; }
  .linea-tiempo__hito:nth-child(4) {
    top: 575px; }
  .linea-tiempo__hito:nth-child(5) {
    top: 770px; }
  .linea-tiempo__hito:nth-child(6) {
    top: 965px; } }

@media screen and (min-width: 340px) {
  .linea-tiempo__linea {
    height: 980px; }
  .linea-tiempo__hoja:nth-child(4) {
    top: 45px; }
  .linea-tiempo__hoja:nth-child(5) {
    top: 185px; }
  .linea-tiempo__hoja:nth-child(6) {
    top: 385px; }
  .linea-tiempo__hoja:nth-child(7) {
    top: 475px; }
  .linea-tiempo__hoja:nth-child(8) {
    top: 660px; }
  .linea-tiempo__hoja:nth-child(9) {
    top: 825px; }
  .linea-tiempo__hito:nth-child(1) {
    top: 40px; }
  .linea-tiempo__hito:nth-child(2) {
    top: 200px; }
  .linea-tiempo__hito:nth-child(3) {
    top: 380px; }
  .linea-tiempo__hito:nth-child(4) {
    top: 490px; }
  .linea-tiempo__hito:nth-child(5) {
    top: 655px; }
  .linea-tiempo__hito:nth-child(6) {
    top: 840px; } }

@media screen and (min-width: 359px) {
  .navegacion-principal__dos--extendida {
    height: 137px; }
  .pie__logos img {
    width: 100px; } }

@media screen and (min-width: 380px) {
  .linea-tiempo__linea {
    height: 860px; }
  .linea-tiempo__hoja:nth-child(4) {
    top: 45px; }
  .linea-tiempo__hoja:nth-child(5) {
    top: 165px; }
  .linea-tiempo__hoja:nth-child(6) {
    top: 345px; }
  .linea-tiempo__hoja:nth-child(7) {
    top: 425px; }
  .linea-tiempo__hoja:nth-child(8) {
    top: 590px; }
  .linea-tiempo__hoja:nth-child(9) {
    top: 715px; }
  .linea-tiempo__hito:nth-child(1) {
    top: 40px; }
  .linea-tiempo__hito:nth-child(2) {
    top: 180px; }
  .linea-tiempo__hito:nth-child(3) {
    top: 340px; }
  .linea-tiempo__hito:nth-child(4) {
    top: 440px; }
  .linea-tiempo__hito:nth-child(5) {
    top: 585px; }
  .linea-tiempo__hito:nth-child(6) {
    top: 730px; } }

@media screen and (min-width: 420px) {
  .linea-tiempo__linea {
    height: 760px; }
  .linea-tiempo__hoja:nth-child(4) {
    top: 45px; }
  .linea-tiempo__hoja:nth-child(5) {
    top: 150px; }
  .linea-tiempo__hoja:nth-child(6) {
    top: 295px; }
  .linea-tiempo__hoja:nth-child(7) {
    top: 370px; }
  .linea-tiempo__hoja:nth-child(8) {
    top: 520px; }
  .linea-tiempo__hoja:nth-child(9) {
    top: 630px; }
  .linea-tiempo__hito:nth-child(1) {
    top: 40px; }
  .linea-tiempo__hito:nth-child(2) {
    top: 165px; }
  .linea-tiempo__hito:nth-child(3) {
    top: 290px; }
  .linea-tiempo__hito:nth-child(4) {
    top: 385px; }
  .linea-tiempo__hito:nth-child(5) {
    top: 515px; }
  .linea-tiempo__hito:nth-child(6) {
    top: 645px; } }

@media screen and (min-width: 440px) {
  .linea-tiempo__linea {
    height: 700px; }
  .linea-tiempo__hoja:nth-child(4) {
    top: 45px; }
  .linea-tiempo__hoja:nth-child(5) {
    top: 150px; }
  .linea-tiempo__hoja:nth-child(6) {
    top: 295px; }
  .linea-tiempo__hoja:nth-child(7) {
    top: 350px; }
  .linea-tiempo__hoja:nth-child(8) {
    top: 480px; }
  .linea-tiempo__hoja:nth-child(9) {
    top: 570px; }
  .linea-tiempo__hito:nth-child(1) {
    top: 40px; }
  .linea-tiempo__hito:nth-child(2) {
    top: 165px; }
  .linea-tiempo__hito:nth-child(3) {
    top: 290px; }
  .linea-tiempo__hito:nth-child(4) {
    top: 365px; }
  .linea-tiempo__hito:nth-child(5) {
    top: 475px; }
  .linea-tiempo__hito:nth-child(6) {
    top: 585px; }
  .producto h3.title {
    position: relative;
    font-size: 4em;
    max-width: 320px;
    margin: auto; }
    .producto h3.title img {
      position: absolute;
      width: 60px;
      -webkit-transform: rotatX(180deg);
              transform: rotatX(180deg);
      right: -65px;
      top: -10px; } }

@media screen and (min-width: 720px) {
  .home.contenedor .slider-productos__imagen:nth-child(1) {
    background-image: url("./../img/home/blog.jpeg"); }
  .home.contenedor .slider-productos__imagen:nth-child(2) {
    background-image: url("./../img/home/producto.jpeg"); }
  .home.contenedor .slider-productos__imagen:nth-child(3) {
    background-image: url("./../img/home/bienvenido.jpeg"); }
  .contenido-mision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .subtitle,
  .centrado {
    text-align: left; }
  .subtitle {
    margin-left: 1em; }
  .textos {
    width: 50%; }
  .title {
    margin: .5em 0 0 0; }
  .texto {
    margin-left: 2em; }
  .hoja-flotando {
    display: block;
    width: 40%; }
  .valores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .valores__valor {
      width: 50%; }
  .limon-flotando {
    display: block;
    width: 350px;
    margin: auto; }
  .pie__arriba {
    bottom: .6em; }
  .responsabilidad .title {
    font-size: 5em; }
  .responsabilidad__contenido {
    padding: 0 1em; }
  .imagenes-ninos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .imagenes-logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .verde {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 740px;
    margin: 3em auto 0; }
    .verde p {
      max-width: 350px;
      margin: 0; }
    .verde img {
      margin-left: 2em; }
  .logros {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .logros img {
      margin: 1em; }
  .mediaciones {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mediaciones__mediacion {
      width: 35%;
      min-width: 300px;
      margin: 0; }
  .productos {
    min-height: calc(100vh - 232px - 184px); }
  .producto {
    padding: 0; }
    .producto__imagenes {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .producto__imagenes img {
        width: 50%; }
    .producto__datos {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  .prueba-tambien__link {
    width: 50%; }
  .blog-interior .libros {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .blog-interior .libros p {
      text-align: left;
      padding: 1em;
      margin: 0; }
    .blog-interior .libros img {
      margin: 1em; }
    .blog-interior .libros:nth-child(odd) {
      background-color: rgba(0, 143, 126, 0.2);
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .blog-interior .libros:nth-child(odd) p {
        text-align: right; } }

@media screen and (min-width: 800px) {
  .cabecera {
    padding-top: 1em;
    background-size: 100% 1200px; }
  .logo {
    width: 330px;
    display: block; }
    .logo__imagen {
      width: 100%; }
  .botton-menu {
    display: none; }
  .navegacion-principal {
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 40px;
    width: 100%;
    margin-bottom: 2em; }
    .navegacion-principal ul {
      margin: 0 auto; }
    .navegacion-principal__uno {
      width: 100%;
      max-width: 800px;
      padding-left: 1.5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .navegacion-principal__nosotros::after {
      right: -20px; }
    .navegacion-principal__dos {
      position: absolute;
      top: 60px;
      z-index: 1;
      width: 350px;
      background-color: transparent;
      -webkit-transition: height linear .4s  0s, background-color linear 0s .4s;
      transition: height linear .4s  0s, background-color linear 0s .4s; }
      .navegacion-principal__dos--extendida {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-transition: height linear .4s 0s, background-color linear 0s 0s;
        transition: height linear .4s 0s, background-color linear 0s 0s; }
  .home.contenedor {
    height: calc(100vh - 233px); }
  .historia .contenedor {
    padding: 0; }
  .linea-tiempo {
    position: absolute; }
    .linea-tiempo__textos {
      max-width: 800px;
      padding: 0 1em; }
    .linea-tiempo__hito:nth-child(even) {
      right: 0; }
    .linea-tiempo__hito:nth-child(odd) .linea-tiempo__punto {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .linea-tiempo__hito:nth-child(odd) .linea-tiempo__texto {
      text-align: right; }
    .linea-tiempo__texto {
      width: 90%;
      margin: 0; } }

@media screen and (min-width: 920px) {
  .centrado,
  .texto {
    font-size: 1.2em; }
  .logros img {
    margin: 0 3em 1em 2em; } }

@media screen and (min-width: 950px) {
  .slider-productos__anterior, .slider-productos__siguiente {
    width: 4em; }
  .slider-productos__anterior {
    left: -4em; }
  .slider-productos__siguiente {
    right: -4em; } }

@media screen and (min-width: 1024px) {
  .slider__imagen img {
    width: 100%; }
  .centrado,
  .texto {
    font-size: 1.3em; }
  .modelo__contenedor {
    display: none; }
  .modelo__contenedor--largo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (min-width: 1200px) {
  .responsabilidad__contenedor,
  .responsabilidad__contenido {
    padding: 0; }
  .mediaciones__mediacion {
    width: 300px; }
  .prueba-tambien__link {
    width: 25%; } }
